
.bioContainer{
    width: 100%;
    height: 80vh;
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 1s ease-in, transform 1s ease-in;
    margin-bottom: 40px;
}

.contentWrapper{
    margin: 2em 15%;
}

.bioHeading{
    font-size: 32px;
}

.bioText{
    font-size: 24px;
}

.floatIn {
    opacity: 1; 
    transform: translateY(0);
  }