
.heroContainer{
    height: 100vh;
    width: 100%;
    background-image: url("../../public/background.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 6em;
}

h2{
    font-size: 3em;
}

/* span{
    color: var(--tertiary-color);
} */

.circle{
    height: 2em;
    width: 2em;
    border-radius: 50%;
    border: 7px solid var(--font-color);
}

.streak{
    width: 0.5em;
    height: 14em;
    background-color: var(--font-color);
    border-radius: 0 0 100% 100%;
}

.nodeContainer{
    width: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: -4px;
}

.heroHeadingContainer{
    width: 100%;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.heroHeadingContainer *:not(.streak){
    background-color: transparent;
}