:root{
  --primary-color: #1A2130;
  --secondary-color: #5A72A0;
  --tertiary-color: #83B4FF;
  --font-color: #FDFFE2;
}

*{
  margin: 0;
  padding: 0;

  color: var(--font-color);
}

main{
  height: 100vh;
}