:root{
  --primary-color: #1A2130;
  --secondary-color: #5A72A0;
  --tertiary-color: #83B4FF;
  --font-color: #FDFFE2;
}

*{
  margin: 0;
  padding: 0;

  color: var(--font-color);
  background-color: var(--primary-color);
  box-sizing: border-box;
}

body{
  box-sizing: border-box;
  width: 100%;
}

main{
  width: 100%;
  margin: 0;
  padding: 0;
}

.pre{
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.pre.visible{
  opacity: 1;
  transform: translate(0, 0);
}